body {
  margin: 0;
  padding: 0;

  background-image: url("../img/background.jpg");


}

#container1 {
  width: 100%;
  text-align: center;
}

.spider {
  width: 20rem;
  justify-content: right;
}

.card {

  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  display: block;
  width: 25rem;
  height: 33rem;
  border: 5px solid rgb(241, 3, 94);
  box-shadow: 0 0 3em rgb(3, 4, 92);
  border-radius: 20px;
  background-color: rgba(165, 161, 161, 0.1);


}

div.card:hover {
  box-shadow: 0 0 1em rgb(148, 148, 196);
  background-color: rgba(255, 255, 255, 0.055);

}


.nome {
  text-align: center;
  color: rgb(241, 3, 94);
  ;
  display: block;
  border-top: 5px solid rgb(241, 3, 94);
  ;

}

.titulo {
  font-family: 'Hina Mincho', serif;
  font-size: 23px;
}

.subtitulo {
  font-family: 'Hina Mincho', serif;
  font-size: 18px;
}

.sobre {
  background-color: #fff;
  width: auto;
  height: 15rem;
  margin: 2rem;
  font-family: 'Hina Mincho', serif;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 1em rgb(148, 148, 196);
}