body {
  margin: 0;
  padding: 0;
  display: flex;
}

#container1 {
  background: linear-gradient(217deg, rgba(0, 0, 0, 0.842), rgba(10, 10, 10, 0.973) 70.71%);

}

#menu-h {
  background-color: rgba(8, 8, 8, 0.534);
  position: fixed;
  width: 100%;
}

#menu-h ul {
  max-width: 800px;
  list-style: none;
  padding-left: 2rem;
  font-family: 'Hina Mincho', serif;
  font-size: 20px;
}

#menu-h ul li {
  display: inline;
}

#menu-h ul li a {
  margin: 3px;
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
}

#menu-h ul li a:hover {
  background-color: rgba(255, 255, 255, 0.849);
}

.card {

  margin-top: 7rem;
  margin-left: 20%;
  display: flex;
  width: 50rem;
  height: 30rem;
  border: 5px solid rgb(241, 3, 94);
  box-shadow: 0 0 3em rgb(3, 4, 92);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.644);


}

div.card:hover {
  box-shadow: 0 0 1em rgb(148, 148, 196);
  background-color: rgb(200, 202, 219);

}

.avatar {
  margin: 1rem;
}

.nome {
  text-align: right;
  margin: 2rem;
  display: block;

}

.titulo {
  font-family: 'Hina Mincho', serif;
  font-size: 55px;
}

.subtitulo {
  font-family: 'Hina Mincho', serif;
  font-size: 35px;
}

.sobre {
  background-color: #fff;
  width: auto;
  height: 15rem;
  margin: 2rem;
  font-family: 'Hina Mincho', serif;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 1em rgb(148, 148, 196);
}

div.cards.img {
  width: 20rem;
  height: 30rem;
}